.center {
        margin: auto;
        text-align: center;

}

.nav{
	display: inline-block;
         float: center;
         position: relative;
	text-align: center;
	width: 100%;

}

.nav ul {
	background-color: #333;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;

}

.nav li {

	display: inline-block;
}

.nav li a {
	color: white;
	display: block;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
}

.nav li a:hover {
	background-color: #111;
}
/* Corp */
body{    
         background-color: #325152;
	float : center;
	font-family: sans-serif;
	font-weight: 100;
	position: relative;
	margin: 0;
	margin-bottom : 50px;
	padding: 0;
	text-align: center;
		
}


/* Titres */
h1{
	color: #;
	font-size: 60px;
	font-weight: 100;	
}
h2{
	color: blue;
	clear: both;
	font-size: 40px;
	font-weight: 100;

}


/*Intro*/

.intro{
	display: inline-block;
	margin: auto;
}

#photoprofil{
	height: auto;
	display: inline-block;
	width: auto;

}
#photofar{
         border-radius: 50%;
	height: 200px;
	padding-bottom: 50px;
	padding-right:70px;
	
}

.logo a img{
	display: inline-block;
	padding : 10px;
         width: 60px;
}

/*Expériencepro*/

.experiencepro {
        margin-top: 35px;
        padding-left: 25px;

}

.titre {
     
}

.place {
        color: #8E3557:
        display: inline-block;
        font-weight: 500:
        font-size: 17px;
        
        
        
        

}

.duree {

}

/*Formation*/

.formation {
	margin-top: 30px;
	padding-left:30px;

}

.annee {
	color: #8E3557;
	display: inline-block;	
	font-weight: 500;
	font-size: 17px;
	text-align: right;
	width: 150px;

}

.diplome {
	display: inline-block;
}

.lieu{
         color: gray;
	font-size: 12px;
	font-style : italic;

}

             
            

